@use '../variables' as *;

@font-face {
  font-family: 'Bonbon Regular';
  src: url('@/app/assets/fonts/Bonbon-Regular.ttf') format('ttf');
}

body {
  font-family: 'Inter Variable', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
